### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

### IDE ###
# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# VS Code
.vscode/
.settings/

### System ###
.DS_Store
Thumbs.db

### Logs ###
*.log
logs/

### Allure ###
allure-results/
allure-report/
.allure/